<div class="header">
  <h2>Categories</h2>
  <i class="fa-solid fa-bars" onclick="redirectToMenu()"></i>
</div>
<div class='cat-cards'>
<% current_user.groups.each do |group| %>
  <div class='cat-card' user_id="<%=@user.id%>" group_id="<%=group.id%>" onclick="seeTransactionsFunction(this)">
    <%= image_tag url_for(group.icon) if group.icon.attached? %>
    <%= image_tag "default.png" unless group.icon.attached? %>
    <p>Name: <%= group.name %></p>
    <% amount = 0 %>
    <% group.exchanges.each do |exchange| %>
      <% amount = amount + exchange.amount %>
    <% end %>
    <p>Total amount: <%= amount %></p>
  </div>
<% end %>
</div>
<div class="buttons">
<button onclick="createCategoryFunction()" class="btn">Add a new category</button>
</div>
<script>
  function seeTransactionsFunction(e) {
     window.location.href = '/user/' + e.user_id + '/transactions/' + e.group_id;
  }
  function createCategoryFunction() {
    window.location.href = "/categories/new"
  }
  function redirectToMenu() {
     window.location.href = "/menu"
  }
</script>